<div>
  <app-user-nav></app-user-nav>
  <h2 class="text-center text-2xl font-bold">Productos Disponibles</h2>

  <form [formGroup]="searchForm">
    <input formControlName="query" placeholder="Buscar productos..." class="border p-2 rounded">
  </form>

  <div *ngIf="noResultsMessage" class="text-red-500 mt-4">{{ noResultsMessage }}</div>

  <table class="table-auto w-full mt-4 border-collapse border border-gray-200" *ngIf="filteredProducts.length > 0">
    <thead>
      <tr class="bg-gray-200">
        <th class="border border-gray-300 px-4 py-2">ID</th>
        <th class="border border-gray-300 px-4 py-2">Nombre</th>
        <th class="border border-gray-300 px-4 py-2">Tipo</th>
        <th class="border border-gray-300 px-4 py-2">Precio</th>
        <th class="border border-gray-300 px-4 py-2">Stock</th>
        <th class="border border-gray-300 px-4 py-2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filteredProducts" class="hover:bg-gray-100">
        <td class="border border-gray-300 px-4 py-2">{{ product.id }}</td>
        <td class="border border-gray-300 px-4 py-2">{{ product.name }}</td>
        <td class="border border-gray-300 px-4 py-2">{{ product.productType.type }}</td>
        <td class="border border-gray-300 px-4 py-2">{{ product.price | currency }}</td>
        <td class="border border-gray-300 px-4 py-2">{{ product.stock }}</td>
        <td class="border border-gray-300 px-4 py-2">
          <button (click)="openPurchaseModal(product)" class="bg-green-500 text-white p-2 rounded">Comprar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <app-purchase-modal *ngIf="showModal" [product]="selectedProduct" (close)="closePurchaseModal()"
    (submit)="submitPurchase($event)"></app-purchase-modal>
</div>