a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}

.text-black {
  color: black;
}

.hover\:bg-gray-100:hover {
  background-color: #f7fafc;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
