<div class="max-w-md mx-auto mt-10">
    <h2 class="text-2xl font-bold mb-4">Cambiar Contraseña</h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
            <label class="block text-gray-700">Contraseña Actual</label>
            <input formControlName="OldPassword" class="border p-2 rounded w-full" type="password" placeholder="Contraseña Actual">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700">Nueva Contraseña</label>
            <input formControlName="NewPassword" class="border p-2 rounded w-full" type="password" placeholder="Nueva Contraseña">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700">Confirmar Nueva Contraseña</label>
            <input formControlName="ConfirmNewPassword" class="border p-2 rounded w-full" type="password" placeholder="Confirmar Nueva Contraseña">
        </div>
        <button type="submit" class="bg-blue-500 text-white p-2 rounded">Guardar Cambios</button>
    </form>
</div>
