<div>
    <h2 class="text-center text-2xl font-bold">Gestionar clientes</h2>
  
    <form [formGroup]="searchForm" (ngSubmit)="searchClients()">
      <input formControlName="query" placeholder="Buscar clientes..." class="border p-2 rounded">
      <button type="submit" class="bg-blue-500 text-white p-2 rounded">Buscar</button>
    </form>
  
    <table class="table-auto w-full mt-4 border-collapse border border-gray-200">
      <thead>
        <tr class="bg-gray-200">
          <th class="border border-gray-300 px-4 py-2">RUT</th>
          <th class="border border-gray-300 px-4 py-2">Nombre</th>
          <th class="border border-gray-300 px-4 py-2">Fecha de Nacimiento</th>
          <th class="border border-gray-300 px-4 py-2">Email</th>
          <th class="border border-gray-300 px-4 py-2">Género</th>
          <th class="border border-gray-300 px-4 py-2">Estado</th>
          <th class="border border-gray-300 px-4 py-2">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of filteredClients" class="hover:bg-gray-100">
          <td class="border border-gray-300 px-4 py-2">{{ client.rut }}</td>
          <td class="border border-gray-300 px-4 py-2">{{ client.name }}</td>
          <td class="border border-gray-300 px-4 py-2">{{ client.birthday | date }}</td>
          <td class="border border-gray-300 px-4 py-2">{{ client.email }}</td>
          <td class="border border-gray-300 px-4 py-2">{{ client.gender.type }}</td>
          <td class="border border-gray-300 px-4 py-2">{{ client.isActive ? 'Activo' : 'Deshabilitado' }}</td>
          <td class="border border-gray-300 px-4 py-2">
            <ng-container *ngIf="currentAccount?.roleType === 'Admin'">
              <button 
                *ngIf="client.isActive && client.email !== currentAccount?.email" 
                (click)="openConfirmModal(client)" 
                class="bg-red-500 text-white p-2 rounded">Deshabilitar</button>
              <button 
                *ngIf="!client.isActive && client.email !== currentAccount?.email" 
                (click)="openConfirmModal(client)" 
                class="bg-green-500 text-white p-2 rounded">Habilitar</button>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  
    <!-- Modal de confirmación -->
    <div *ngIf="showConfirmModal" class="fixed z-10 inset-0 overflow-y-auto">
      <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 transition-opacity" aria-hidden="true">
          <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>
        <!-- This element is to trick the browser into centering the modal contents. -->
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
          <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
              <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                  Confirmación
                </h3>
                <div class="mt-2">
                  <p class="text-sm text-gray-500">
                    ¿Está seguro que desea {{ actionText }} al usuario {{ currentClient?.name }}?
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
            <button 
              type="button" 
              [ngClass]="{
                'bg-red-600 hover:bg-red-700': actionText === 'desactivar',
                'bg-green-600 hover:bg-green-700': actionText === 'activar'
              }" 
              class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 text-base font-medium text-white sm:ml-3 sm:w-auto sm:text-sm" 
              (click)="toggleClientState(currentClient)">
              Confirmar
            </button>
            <button 
              type="button" 
              class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 sm:mt-0 sm:w-auto sm:text-sm" 
              (click)="showConfirmModal = false">
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  